{block content}
<div id="banner">
	<h1 n:block=title>Pig latin translator</h1>
</div>

<div id="content">

	<table>
		{form translationForm}
		<tr><h2>{label input /}</h2></tr><br>
		<tr>{input input}</tr><br>
		<tr>{input submit}</tr><br>
		{/form}
		<tr><h2>Pig latin:</h2></tr><br>
		{snippet pigLatinTextSnippet}
			<textarea class="text_field">{$pigLatinText}</textarea>
		{/snippet}

	</table>

</div>